html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
canvas {
    width: 512px;
    height: 256px;
    border: 1px solid black;
    /*touch-action: none;*/
}
video {
    width: 512px;
    height: 256px;
    border: 1px solid black;
}

#saveVideoBtn {
    border: 1px solid black;
    background: lightblue;
}