html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
canvas {
    width: 512px;
    height: 256px;
    border: 1px solid black;
    touch-action: none;
}
video {
    width: 512px;
    height: 256px;
    border: 1px solid black;
}

#saveVideoBtn {
    border: 1px solid black;
    background: lightblue;
}

#hud {
    color: red;
    width: 100%;
    height: 50px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    justify-content: center;
    display: flex;
}

#hudInfo {
    width: 100px;
    height: 50px;
    border: 1px solid red;
    padding: 5px;
    pointer-events: auto;
    user-select: initial;
}

#boxLocation {
    background: lightblue;
    outline: 1px solid red;
    padding: 5px;
    pointer-events: auto;
}
