html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0);
}
canvas {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    touch-action: none;
}

#ui {
    position: fixed;
    right: 0px;
    top: 0px;
    color: gray;
}

.reset, .mic, .debug, .object3d {
/*
    border: 0;
*/
    border: 1px solid black;
    z-index: 100;
    cursor: pointer;
}

.reset {
    width: 46px;
    height: 46px;
    background: transparent url(img/restoreClearCopy@2x.png) no-repeat center center;
    background-size: 46px 45px;
    position: absolute;
    outline: none;
    left: 20px;
    top: 20px;
}
.mic{
    width: 56px;
    height: 56px;
    background: transparent url(img/micCopy@2x.png) no-repeat center center;
    background-size: 56px 56px;
    position: absolute;
    outline: none;
    right: 25px;
    top: 20px;
}
.object3d{
    width: 56px;
    height: 56px;
    background: transparent url(img/3DObjectCopy@2x.png) no-repeat center center;
    background-size: 56px 56px;
    position: absolute;
    outline: none;
    right: 25px;
    bottom: 20px;
}
.debug{
    width: 46px;
    height: 46px;
    background: transparent url(img/settingsCopy@2x.png) no-repeat center center;
    background-size: 46px 46px;
    position: absolute;
    outline: none;
    left: 20px;
    bottom: 20px;
}
